<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>StringTemplate</string>
	<key>ordering</key>
	<array>
		<string>51825919-0BAE-476F-8679-B2361CDAC9B7</string>
		<string>7DA6790D-3C96-41C4-AA76-6AEA9BCFEDCA</string>
		<string>E77659AD-A11D-4B0D-83E8-FC5479814835</string>
		<string>72F4DC4A-8523-4367-9661-2B1CB8A4A857</string>
		<string>680C73A8-3CD5-43EB-B32E-C810772540D6</string>
		<string>1434FEC6-91A6-44DD-9E41-AAABE9299F65</string>
	</array>
	<key>uuid</key>
	<string>998B8D99-1F75-4A22-BD6D-490E230DD0A4</string>
</dict>
</plist>
